---
title: Become a Sponsor | Ember Women Helping Women
---
<section class="become-a-sponsor">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns">
        <h1>Become a sponsor.</h1>
        <p>Support women in tech by sponsoring Ember's Women Helping Women program. Your contributions allow us to organize more learning events, meetups and community activities that educate and encourage the industry's next generation of thought leaders.</p>
        <p class="call-to-action"><a href="https://tilde.wufoo.com/forms/ember-women-helping-women-contact-us/def/field1=Sponsorship" class="button">Contact us</a> <span>to learn more about sponsorships.</span></p>
      </div>
    </div>
  </section>
  <section class="xsponsor-list">
    <div class="row">
      <div class="small-12 columns">
        <div class="hairline-top-wrapper">


          <div class="row">


            <div class="general-xsponsors small-12 medium-12 columns">
              <div class="row collapse">
                <div class="small-12 large-12 columns">
                  <div class="row collapse">
                    <div class="small-12 medium-4 columns">
                      <h2>General Sponsors</h2>
                    </div>
                    <div class="small-12 medium-8 columns">
                      <% data.sponsors.each do |event,sponsors| %>
                      <% if event == "no event" %>
                      <ul class="xsponsors">
                        <% sponsors.each do |sponsor| %>
                        <li class="xsponsor">
                          <a href="<%= sponsor.website %>">
                            <span></span><img src="images/sponsors/<%= sponsor.image %>" alt="<%= sponsor.name %>">
                          </a>
                        </li>
                        <% end %>
                      </ul>
                      <% end %>
                      <% end %>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="previous-xsponsors small-12 medium-12 columns">
              <div class="row">
                <div class="small-12 columns">
                  <div class="row collapse">
                    <div class="small-12 medium-4 columns">
                      <h2>Event Sponsors</h2>
                    </div>
                    <div class="small-12 medium-8 columns">
                      <ol class="xsponsor-events">
                        <% data.sponsors.each do |event,sponsors| %>
                        <% if event != "no event" %>
                        <li class="xsponsor-event">
                          <h3><%= event =%></h3>
                          <ul class="xsponsors">
                            <% sponsors.each do |sponsor| %>
                            <li class="xsponsor">
                              <a href="<%= sponsor.website %>">
                                <span></span><img src="images/sponsors/<%= sponsor.image %>" alt="<%= sponsor.name %>">
                              </a>
                            </li>
                            <% end %>
                          </ul>
                        </li>
                        <% end %>
                        <% end %>
                      </ol>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





  <%= partial "footer" %>

  <script>
  $(document).ready(function() {
    $('.video-thumb').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,

      fixedContentPos: false
    });
  });
  </script>
  <script> // Animate Scroll-To Links
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);
      $('html, body').delay(60);
      $('html, body').stop().animate({
        'scrollTop': $target.offset().top - 120
      }, 260, function () {
        window.location.hash = target;
      });
    });
  });
  </script>
</section>
