---
title: The Blogs | Ember Women Helping Women
---
<section class="the-blogs">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns">
        <h1>Read our writing.</h1>
        <p>Here are some articles by women of the Ember community.</p>
      </div>
    </div>
  </section>
  <section class="the-posts">
    <div class="row">
      <div class="small-12 columns">
        <ul class="blogs grid">
          <li class="grid-sizer"></li>
          <li class="gutter-sizer"></li>
          <% data.the_blogs.first(20).each do |blog| %>
          <li class="<% if blog.featured %>featured <% end %>blog grid-item">
            <div class="wrapper">
              <a href="<%= blog.url %>" target="_blank">
                <div class="byline">
                  <div class="author-image">
                    <img src="images/women/<%= blog.author.parameterize %>.jpg" />
                  </div>
                  <p class="blog-author"><%= blog.author %></p>
                </div>

                <h3 class="blog-title"><%= blog.title %></h3>
                <% if blog.image %>
                <div class="blog-image" style="background-image:url('images/blogs/<%= blog.image %>')">
                </div>
                <% end %>
                <p class="blog-description"><%= blog.description %></p>
                <small class="blog-source"><%= blog.source %></small>
              </a>
            </div>
          </li>
          <% end %>
        </ul>
        <% if data.the_blogs.size > 20 %>
        <div class="see-archive">
          <h2>Wait! There's more!</h2>
          <p><a href="the-archives.html" class="button stroked">See the archives</a></p>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <%= partial "xsponsors-footer" %>
  <%= partial "footer" %>
</section>
<script>
// init Masonry
var $grid = $('.grid').masonry({
  // options...
  columnWidth: '.grid-sizer',
  itemSelector: '.grid-item',
  percentPosition: true,
  gutter: '.gutter-sizer'
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});


// $('.grid').masonry({
//   columnWidth: '.grid-sizer',
//   itemSelector: '.grid-item',
//   percentPosition: true,
//   gutter: '.gutter-sizer'
// })
</script>
