---
title: The Women | Ember Women Helping Women
---
<section class="the-women">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns">
        <h1>Meet the women involved.</h1>
        <p>Our members and mentors have a range of experiences and skills to help you, help each other, and to enhance your events. Get in touch to join or to invite one of our members to speak.</p>
      </div>
    </div>
  </section>
  <section class="women-list">
    <div class="row collapse">
      <div class="small-12 columns">
        <ul class="small-up-2 medium-up-3 large-up-4">
          <% data.the_women.shuffle.each do |woman| %>
          <li class="woman column" id="<%= woman.anchor %>">
            <a href="#<%= woman.anchor %>">
              <div class="woman-thumb">
                <img src="images/<%= woman.anchor %>.jpg" data-at2x="images/<%= woman.anchor %>.jpg" alt="<%= woman.name %>"/>
                <% if woman.mentor %><p class="mentor-badge">Mentor</p><% end %>
              </div>
              <div class="basic-info">
                <h3 class="woman-name"><%= woman.name %></h3>
                <p class="job-title"><%= woman.job_title %></p>
                <p class="location"><%= woman.location %></p>
              </div>
            </a>
            <section class="expand">
              <div class="row">

                <div class="small-12 medium-9 large-9 columns">

                  <p class="bio"><%= woman.bio %></p>
                  <ul class="other-links">
                    <% if woman.github present? %>
                    <li>
                      <a href="//github.com/<%= woman.github %>" class="github"><%= woman.github %></a>
                    </li>
                    <% end %>
                    <% if woman.twitter present? %>
                    <li>
                      <a href="//twitter.com/<%= woman.twitter %>" class="twitter"><%= woman.twitter %></a>
                    </li>
                    <% end %>
                    <% if woman.website present? %>
                    <li>
                      <a href="<%= woman.website %>" class="external-link"><%= woman.website_title %></a>
                    </li>
                  </ul>
                  <% end %>
                  <p class="contact-cta"><a href="https://tilde.wufoo.com/forms/ember-women-helping-women-contact-us/def/field1=Find%20a%20speaker&field118=<%= woman.name %>" class="button stroked">Invite <%= woman.name %> to speak</a></p>
                </div>
                <div class="small-12 medium-3 large-3 columns">
                  <% if woman.youtube present? %>
                  <a href="https://www.youtube.com/watch?v=<%= woman.youtube %>" class="video-thumb">
                    <figure>
                      <div>
                        <img src="http://i.ytimg.com/vi/<%= woman.youtube %>/hqdefault.jpg" alt="Watch <%= woman.youtube_title %>r">
                      </div>
                      <figcaption>
                        <%= woman.youtube_title %>
                      </figcaption>
                    </figure>
                  </a>
                  <% end %>
                </div>
              </div>
            </section>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

  <%= partial "signup-form" %>
  <%= partial "xsponsors-footer" %>
  <%= partial "footer" %>

  <script>
  $(document).ready(function() {
    $('.video-thumb').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,

      fixedContentPos: false
    });
  });
  </script>
  <script> // Add hash to URL on click; Animate Scroll-To Links
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);
      $('html, body').delay(100);
      $('html, body').stop().animate({
        'scrollTop': $target.offset().top - 60
      }, 260, function () {
        window.location.hash = target;
      });
    });
  });
  </script>



</section>
